@use 'colors';

#profile {
    //border: 1px solid white;
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    #profile-heading {
        color: goldenrod;
        width: 31vw;
        //text-decoration: solid underline;
        text-transform: uppercase;
        font-weight: 200;
        letter-spacing: 5px;
    }

    #subfield {
        height: 21vh;
        width: 31vw;
        border: 3px groove colors.$option-color;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-sizing: border-box;
        background-color: colors.$option-color;
        color: colors.$font-color;
        
    }

    button {
        margin: 5px;
        border: 1px ridge colors.$option-color;
        color: colors.$option-color;
        background-color: colors.$bg-color;
        height: 5vh;
    }

    button:hover {
        border: 1px groove colors.$font-color;
        color: colors.$font-color;
    }

    h1 {
        margin: 1px;
        border: 1px groove colors.$bg-color;
        height: 6vh;
        width: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        font-weight: 300;
    }

    h2 {
        margin: 1px;
        border: 1px groove colors.$bg-color;
        height: 6vh;
        width: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        font-weight: 500;
    }

    input {
        margin: 5px;
    }
}